java/*/.idea
java/*/target
/target/classes
java/remotedemo/.idea/workspace.xml
*.txt


# IDEA
.idea
*.iml

# macOS
.DS_Store

# Vim
*.sw?

/docs
/log
/bin
/out
.idea

key.txt
apsToken.txt

*.iml
*.spvchain
*.wallet
*.ser
*.log
*.sw[op]
.DS_Store

build
.classpath
.project
.settings
*.java.hsp
*.~ava
/bundles
/bisq*
/xchange
desktop.ini
*/target/*
*.class
deploy
releases/*
